#Blue{
    background-color: blue;
    position: relative;
    top: 50px;
    left: 120px;
    width: 200;
    height: 150;
}

#plus{
    position: relative;
    top: -40px;
    left: 450px;
    width: 100;
    height: 70;
    position: absolute;
    z-index: 2;
    font-size: 100;
}

#red{
    background-color: red;
    position: relative;
    top: -120px;
    left: 600px;
    width: 200;
    height: 150;
    
}

#e{
    top: -40px;
    left: 870px;
    width: 100;
    height: 70;
    position: absolute;
    z-index: 2;
    font-size: 100;
}

#p{
    background-color: purple;
    position: relative;
    top: 60px;
    left: 1000px;
    width: 200;
    height: 150;
    position: absolute;
    
}

#Y{
    background-color: yellow;
    position: relative;
    top: -60px;
    left: 120px;
    width: 200;
    height: 150;
    font-size: 50;
}

#plus2{

    position: relative;
    top: 200px;
    left: 450px;
    width: 100;
    height: 70;
    position: absolute;
    z-index: 2;
    font-size: 100;
}

#B2{
    background-color: blue;
    position: relative;
    top: -270px;
    left: 600px;
    width: 200;
    height: 150;
    
}

#eq{
    top: 200px;
    left: 870px;
    width: 100;
    height: 70;
    position: absolute;
    z-index: 2;
    font-size: 100;
}

#G{
    background-color: green;
    position: relative;
    top: 270px;
    left: 1000px;
    width: 200;
    height: 150;
    position: absolute;
    
}