#H{
    background-color: brown;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 1680;
    height: 90;
    font-size: 70;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

#CIMG{
    top: 100;
    left: 20;
    width: 200;
    height: 200;
    position: relative;
    /* position: absolute; */
    z-index: 1;
}


#CP{
    background-color: grey;
    top: -100px;
    left: 0px;
    width: 1665;
    height: 250;
    position:relative;
}
#C{
    top: 130;
    left: 250;
    position: absolute;
    font-size: 40;
    font-family: 'Times New Roman', Times, serif;
}

#CC{
    top: 180;
    left: 250;
    position: absolute;
    font-size: 40;
    font-family: 'Times New Roman', Times, serif;
}

#P{
    top: -50;
    left: 20;
    width: 200;
    height: 200;
    position: relative;
    z-index: 2;
}

#PP{
    background-color: grey;
    top: -260;
    left: 0;
    width: 1665;
    height: 220;
    position: relative;
    z-index: 1;
}



#PC{
    top: 450;
    left: 250;
    font-size: 40;
    position:absolute ;
    font-family: 'Times New Roman', Times, serif;
    z-index: 2;
}

#PQ{
    top: 500;
    left: 250;
    position: absolute;
    font-size: 40;
    font-family: 'Times New Roman', Times, serif;
    z-index: 2;
} 

#order1{
    background-color: cornsilk;
    top: 700;
    left: 1000;
    width: 200;
    height: 80;
    position: absolute;
    font-size: 70;
    text-align: center;
}
