#TK{
    background-color: gray;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30;
    text-align: center;
}

#Ram{
    height: 200;
    width: 250;
    left: 500;
    
}

#H{
    background-color: cornsilk;
    top: 700;
    left: 1000;
    width: 200;
    height: 80;
    position: absolute;
    font-size: 70;
    text-align: center;
}